/* External font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    line-height: 2em;
}
#welcome p span{
    font-weight: bold;
}
#about p span{
    font-style: italic;
}